resultShow img {
width: 30px;
height: 30px;
}

body
{
    background-color:lavenderblush;
}

h1{
    font-family:'Times New Roman', Times, serif;
    font-style: inherit;
    font-weight: 2px;
}
h4{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
    font-weight: 2px;
}
#camera{
    width: 350px;
    height: 300px;
    border-radius: 2px;
    border-color: black;
}